# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# -----------------------------
# Node / Next.js
# -----------------------------

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist

# -----------------------------
# Go
# -----------------------------

# Go binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go build output
bin/
build/

# Go workspace
go.work.sum

# Dependency directories (if used)
vendor/

# Go coverage
coverage.out
*.coverprofile

# GoLand / IDE
.idea/

# Air Live Reload Artifacts
apps/api/tmp/

# -----------------------------
# Debug
# -----------------------------

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# -----------------------------
# Misc
# -----------------------------

.DS_Store
*.pem

# -----------------------------
# User Data & IG Migration
# -----------------------------
apps/api/scripts/ig_migrate/ig_data/
apps/api/scripts/ig_migrate/completed.json